<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member"> 
 	<insert id="save" parameterType="member">
 		insert into memberboard_table(m_id,m_pw,m_name,m_email)
 			values(#{m_id},#{m_pw},#{m_name},#{m_email})
 	</insert>
 	
 	<select id="idDuplicate" parameterType="String" resultType="String">
 		select m_id from memberboard_table where m_id=#{m_id}
 	</select>
 	
 	<select id="login" parameterType="member" resultType="member">
 	select * from memberboard_table where m_id=#{m_id} and m_pw=#{m_pw}
 	</select>
 	
 	<select id="admin" resultType="member">
 		select * from memberboard_table
 	</select>
 	
 	<select id="findById" parameterType="long" resultType="member">
 		select * from memberboard_table where m_number=#{m_number}
 	</select>
 	
 	<delete id="delete" parameterType="long">
 		delete from memberboard_table where m_number=#{m_number}
 	</delete>
 	
 	<update id="update" parameterType="member">
       update memberboard_table set m_email = #{m_email} where m_number=#{m_number}
    </update>
    
    <select id="mypage" parameterType="long" resultType="member">
		select *
		from memberboard_table where m_number=#{m_number}
	</select>
 	
 </mapper>